/* componenti barra nera  */
.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.offcanvas.hiding, .offcanvas.show, .offcanvas.showing{
  transition: transform .5s cubic-bezier(.5,.25,.015,1);
}
.darkColor{
  background-color: #161616;
  z-index: 2000;
}
.divTextNav{
  cursor: pointer;
}
.margin0padding0{
  margin: 0;
  padding: 0;
}
.height40px{
  height: 40px;
  width: auto;
}
.logoSvg{
  height: 24px;
  width: 24px;
}
/* comportamento navbar autohide */
.scrolled-down {
  transform: translateY(-40px);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/* componenti navbar bianca */
.btn{
  height: 100%;
  width: 100%;
  --bs-btn-border-width: transparent; 
  
}
.btn > .bottone3punti{
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  color: #161616;
}

.btn:hover > .bottone3punti{
  transform: scale(1.4, 1.4) rotate(-90deg);
  fill: #f50c0c;
  transition: fill .7s,transform .3s;
  transition-duration: 0.7s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  transition-property: fill, transform;
 
}
.imgElec{
  height: 56px;
  width: 200px;
  padding: 0px;
  margin: 0 0 0 20px ;
}
.burgerMenù{
  padding: 0px;
  margin: 0px;
  height: 56px;
  width: 20px;
}
a{
  color: black;
  text-decoration: none;
}
.divTextNav{
  justify-content: center;
  max-width: max-content;
  margin: 0 1.5% ;
}

#pseudo{
  height: 0.4em;
  width: 0.8em;
  position: relative;
  margin-left: 5px;
 
}
#pseudo::before,
#pseudo::after{
  border-top: 0.1em solid rgb(0, 0, 0);
  height: 0.1em;
  width: 0.5em;
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

}
#pseudo::before{
  transform: rotate(45deg);
  left: 0;
}
#pseudo::after{
  transform: rotate(-45deg);
  right: 0;
}
.divTextNav:hover #pseudo::before{
  transform: rotate(-45deg);
}
.divTextNav:hover #pseudo::after{
  transform: rotate(45deg);
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	/* .navbar .nav-item:hover .nav-link{ color: #fff;  } */
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; margin-top: 8px; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}
/*componenti sidebar */
.offcanvas-header{
  margin-top: 97px;
  margin-bottom: 47px;
  height: 27px;
}
.offcanvas-title{
  color: #a3a3a3;
  font-weight: 700;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}
.offcanvas-title:hover {
  color: #f50c0c;
}
.offcanvas-header #closeSideBar:hover {
  color: #f50c0c;
}
#closeSideBar{
  --bs-btn-close-focus-shadow: 0 0 0 0 0;
  font-size: small;
}
.offcanvas{
  bottom: -100vh;
}
/* imagini header */
.imgHeader{
  margin-top: 55px;
}

