


.titleCard{
    color: #ff4747;
    font-size: 16px;
    margin: 0 8px;
    
}

.dateYear{
    font-size: 16px;
    color: #161616;
    margin: 0 8px;
}

.cardContainer{
    display: flex;
    justify-content: center;
    
}

.subTitle{
    font-size: 24px;
    color: #161616;
    margin: 6px 0 0 ;
    padding-left: 8px;
   
}

