*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.titleCard{
    color: #ff4747;
    font-size: 16px;
    
    
}

.dateYear{
    font-size: 16px;
    color: #161616;
    
}



.subTitle{
    font-size: 24px;
    color: #161616;
    
   
}

.prova{
    padding: 0;
}

.pippo {
    margin-top: 1rem;
}